[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/nord-tmux"]
	path = tmux/.tmux/plugins/nord-tmux
	url = https://git::@github.com/arcticicestudio/nord-tmux
[submodule "tmux/.tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/.tmux/plugins/tmux-better-mouse-mode
	url = https://git::@github.com/nhdaly/tmux-better-mouse-mode
[submodule "vim/.vim/plugged/nord-vim"]
	path = vim/.vim/plugged/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/.vim/plugged/auto-pairs"]
	path = vim/.vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/plugged/dracula"]
	path = vim/.vim/plugged/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/.vim/plugged/nerdcommenter"]
	path = vim/.vim/plugged/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/plugged/syntastic"]
	path = vim/.vim/plugged/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/plugged/taglist.vim"]
	path = vim/.vim/plugged/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/.vim/plugged/vim-airline"]
	path = vim/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
